@charset "utf-8";

/*技能图表*/
#diagramCont{
    width: 460px;
    height: 150px;
    margin:80px auto;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
#diagramCont .skillDiv{
    float: left;
    position: relative;
    width: 40px;
    height: 130px;
    margin-left: 10px;
    margin-right: 42px;
    margin-top:20px;
    background: #1A1927;
}
/*添加伪元素  显示div中data-info的文字*/
#diagramCont .skillDiv:after{
    content:attr(data-info);
    color:#fff;
    font-family: "微软雅黑" sans-serif;
    position: absolute;
    top:105%;
}
#diagramCont .skillDiv .percent{
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.percent1{
    height: 0;
}
.percent2{
    height: 0;
}
.percent3{
    height: 0;
}
.percent4{
    height: 0;
}
.percent5{
    height: 0;
}
/*c2出现时高度过度*/
#c2:target .percent1{
    height: 100px;
}
#c2:target .percent2{
    height: 90px;
}
#c2:target .percent3{
    height: 90px;
}
#c2:target .percent4{
    height: 80px;
}
#c2:target .percent5{
    height: 60px;
}
/*c2出现时高度过度 end*/
/*技能图表end*/

/*提示气泡*/
.bubble{
    display: none;
    z-index: 2;
    position: absolute;
    width: 100px;
    height: 25px;
    padding: 2px;
    text-align: center;
    line-height: 25px;
    border-radius: 25px;
    font-size: 10px;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -50px;
}
.bubble:after{
    content:" ";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    top:-20px;
    left: 50%;
    margin-left: -10px;
    /*三角*/
    border-top:10px solid transparent;
    border-left:10px solid transparent;
    border-bottom:10px solid #fff;
    border-right:10px solid transparent;
}
.skillDiv:hover .bubble{
    display: block;
}
/*提示气泡end*/

/*技能描述*/
#skillsWords{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width:0;
    overflow: hidden;
    opacity: 0;
    filter:alpha(opacity=0);
    height:180px;
    padding-left: 20px;
    margin:200px auto;
    font-family: "微软雅黑" sans-serif;
    color:#fff;
    -webkit-transition:all .8s ease-in-out 1s;
    -moz-transition:all .8s ease-in-out 1s;
    -ms-transition:all .8s ease-in-out 1s;
    -o-transition:all .8s ease-in-out 1s;
    transition:all .8s ease-in-out 1s;
}
#skillsWords li{
    margin-top:15px;
    width: 100%;
}
#c2:target #skillsWords{
    opacity: 1;
    filter:alpha(opacity=100);
    width: 670px;
}

/*技能描述end*/