@charset "utf-8";

/*技能图表*/
#diagramCont{
    width: 460px;
    height: 150px;
    /*margin: 20px 0 0 20px;*/
    margin:20px auto;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
#diagramCont .skillDiv{
    float: left;
    width: 40px;
    height: 130px;
    position: relative;
    margin-left: 10px;
    margin-right: 42px;
    margin-top:20px;
    background: #1A1927;
}
/*添加为元素  显示div中data-info的文字*/
#diagramCont .skillDiv:after{
    content:attr(data-info);
    color:#fff;
    font-family: "微软雅黑" sans-serif;
    position: absolute;
    top:105%;
}
#diagramCont .skillDiv .percent{
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    transition:all .5s ease-in-out;
}
.percent1{
    height: 0;
}
.percent2{
    height: 0;
}
.percent3{
    height: 0;
}
.percent4{
    height: 0;
}
.percent5{
    height: 0;
}
/*c2出现时高度过度*/
#c2:target .percent1{
    height: 100px;
}
#c2:target .percent2{
    height: 90px;
}
#c2:target .percent3{
    height: 90px;
}
#c2:target .percent4{
    height: 80px;
}
#c2:target .percent5{
    height: 60px;
}
/*c2出现时高度过度 end*/
/*技能图表end*/

/*技能描述*/
#skillsWords{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 670px;
    height:180px;
    padding-left: 20px;
    margin:80px auto;
    font-family: "微软雅黑" sans-serif;
    color:#fff;
    -webkit-animation: slideIn .8s ease-in-out;
}
#skillsWords li{
    margin-top:15px;
    width: 100%;
}
@-webkit-keyframes slideIn{
    0%{
        opacity: 0;
        filter:alpha(opacity=0);
        width: 0;
    }
    100%{
        opacity: 1;
        filter:alpha(opacity=100);
        width: 110%;
    }
}
/*技能描述end*/